body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}



/* -------------- HEADER ----------------- */

.header-nav {}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo span {
    color: #2e2f42;
}

.header-list {}

.header-item {}

.header-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-item-link:hover,
.header-item-link:focus {
    color: #404bbf;
    ;
}

.header-contacts {
    font-style: normal
}

.contacts-list {}

.contacts-item {}

.contacts-item-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts-item-link:hover,
.contacts-item-link:focus {
    color: #404bbf;
    ;
}

/* -------------- HERO-SECTION ----------------- */

.hero-section {
    background-color: #2e2f42;
    ;
}

.hero-title {}

.btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: #404bbf;
}

/* -------------- ABOUT-SECTION ----------------- */


.about-section {}

.about {}



.about-list {}

.about-item {}

.item-subtitle {}

.item-text {}



/* -------------- TEAM-SECTION ----------------- */

.team-section {
    background-color: #f4f4fd;
}

.team-title {}

.team-list {}

.team-item {
    background-color: #FFFFFF
}

.team-img {}

.team-subtitle {
    text-align: center;
}

.team-text {
    text-align: center;
}

/* -------------- PORTFOLIO-SECTION ----------------- */


.portf-section {}

.portf-title {}

.portf-list {}

.portf-item {}

.portf-img {}

.portf-subtitle {}

.portf-text {}

/* -------------- FOOTER ----------------- */

.footer {
    background-color: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo .active {

    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}